## This script concatenates old data and new data 
### Use the below code if both the old and new data is a json file. If the old data is a df then scroll down

In [1]:
import os
import time
import json
import pandas as pd
import numpy as np
import gc
import datetime
from pandas.io.json import json_normalize
import itertools
import pickle
import warnings
import subprocess
import sys

# os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'
warnings.filterwarnings('ignore')

######################################
#       READ THE CORRECT FILE        #
######################################

def read_data(json_file):
    # read the entire file into a python array
    with open(json_file, 'rb') as f:
        data = f.readlines()

    # remove the trailing "\n" from each line
    data = map(lambda x: x.rstrip(), data)

    data_list = []
    try:
        #data = [json.loads(x) for x in data]
        for x in data:
            data_list.append(json.loads(x))
    except ValueError:
        print('THERE IS A NAN VALUE')

    return data_list


######################################
#        VERIFY DATA IS CORRECT      #
######################################

def verify_data_integrity(raw_data):
    json_response = raw_data[0]
    for k1 in json_response['response']:
        if (k1['command'] == 'LOGIN') and ((list(k1['content'].keys()) == ['msg', 'code']) or list(k1['content'].keys()) == ['code', 'msg']) and (k1['service'] == 'ADMIN'):
            print(True)
        else:
            print('REASON: RESPONSE ******Disconnecting from exchange****** REASON: RESPONSE')
            sys.exit()


    json_heartbeat = raw_data[1]
    for k2 in json_heartbeat['snapshot']:
        for k2a in k2.keys():
            if k2a == 'content':
                print(True)
            elif k2a == 'timestamp':
                print(True)
            elif k2a == 'command':
                print(True)
            elif k2a == 'service':
                print(True)
            else:
                print('REASON: NOTIFY ******Disconnecting from exchange****** REASON: NOTIFY')
                sys.exit()

    
    return

In [2]:
old_data = '/home/melgazar9/Trading/Data/CL/CL_TD_historical_data/CL_5min/CL_5min_historical_data_2018-09-24-09:15:PM.json'
raw_data_old = read_data(old_data)
new_data = '/home/melgazar9/Trading/Data/CL/CL_TD_historical_data/CL_5min/CL_5min_historical_data_2018-11-12-10_44_AM.log'

raw_data_new = read_data(new_data)

verify_data_integrity(raw_data_old)
verify_data_integrity(raw_data_new)

THERE IS A NAN VALUE
THERE IS A NAN VALUE
True
True
True
True
True
True
True
True
True
True

In [3]:
def get_5min_df(raw_data):

    cols = {'Key':'/ES', '0':'Datetime','1':'5minOpen','2':'5minHigh','3':'5minLow','4':'5minClose','5':'5minVolume'}

    data = pd.io.json.json_normalize(raw_data)['snapshot'].dropna()
    for lst1 in data:
        for lst2 in lst1:
            for lst3 in lst2['content']:
                df = pd.DataFrame(lst3['3'])
                
    df = df.rename(columns=cols)
    df['5minRange'] = df['5minHigh'] - df['5minLow']
    df['5minMove'] = df['5minClose'] - df['5minOpen']
    df['5minLowMove'] = df['5minLow'] - df['5minOpen']
    df['5minHighMove'] = df['5minHigh'] - df['5minOpen']
    df = df.set_index('Datetime')
    df.index = pd.to_datetime(df.index, unit='ms')
    df = df.sort_index()

    return df

In [4]:
df_5min_old = get_5min_df(raw_data_old)
df_5min_old = df_5min_old.sort_index()

print(df_5min_old.shape)
df_5min_old.head()

(40000, 9)

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-03-02 13:55:00,60.92,60.93,60.84,60.85,1950.0,0.09,-0.07,-0.08,0.01
2018-03-02 14:00:00,60.84,60.86,60.75,60.79,4258.0,0.11,-0.05,-0.09,0.02
2018-03-02 14:05:00,60.79,61.02,60.77,60.91,6172.0,0.25,0.12,-0.02,0.23
2018-03-02 14:10:00,60.91,60.93,60.75,60.77,4235.0,0.18,-0.14,-0.16,0.02
2018-03-02 14:15:00,60.77,60.89,60.68,60.74,4368.0,0.21,-0.03,-0.09,0.12

In [5]:
df_5min_new = get_5min_df(raw_data_new)
df_5min_new = df_5min_new.sort_index()
df_5min_new.tail(2)

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-11-12 16:35:00,60.86,60.91,60.84,60.84,3864.0,0.07,-0.02,-0.02,0.05
2018-11-12 16:40:00,60.83,60.94,60.83,60.89,2595.0,0.11,0.06,0.00,0.11

In [6]:
df_5min = pd.concat([df_5min_old, df_5min_new], axis=0).drop_duplicates()
print(df_5min.isnull().sum())
df_5min.head(2)

5minOpen        0
5minHigh        0
5minLow         0
5minClose       0
5minVolume      0
5minRange       0
5minMove        0
5minLowMove     0
5minHighMove    0
dtype: int64

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-03-02 13:55:00,60.92,60.93,60.84,60.85,1950.0,0.09,-0.07,-0.08,0.01
2018-03-02 14:00:00,60.84,60.86,60.75,60.79,4258.0,0.11,-0.05,-0.09,0.02

In [7]:
df_5min.tail(2)

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-11-12 16:35:00,60.86,60.91,60.84,60.84,3864.0,0.07,-0.02,-0.02,0.05
2018-11-12 16:40:00,60.83,60.94,60.83,60.89,2595.0,0.11,0.06,0.00,0.11

In [8]:
df_5min

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-03-02 13:55:00,60.92,60.93,60.84,60.85,1950.0,0.09,-0.07,-0.08,0.01
2018-03-02 14:00:00,60.84,60.86,60.75,60.79,4258.0,0.11,-0.05,-0.09,0.02
2018-03-02 14:05:00,60.79,61.02,60.77,60.91,6172.0,0.25,0.12,-0.02,0.23
2018-03-02 14:10:00,60.91,60.93,60.75,60.77,4235.0,0.18,-0.14,-0.16,0.02
2018-03-02 14:15:00,60.77,60.89,60.68,60.74,4368.0,0.21,-0.03,-0.09,0.12
2018-03-02 14:20:00,60.74,60.88,60.74,60.86,2812.0,0.14,0.12,0.00,0.14
2018-03-02 14:25:00,60.85,60.91,60.69,60.77,4190.0,0.22,-0.08,-0.16,0.06
2018-03-02 14:30:00,60.76,60.78,60.62,60.67,7676.0,0.16,-0.09,-0.14,0.02
2018-03-02 14:35:00,60.66,60.77,60.52,60.58,10729.0,0.25,-0.08,-0.14,0.11
2018-03-02 14:40:00,60.57,60.60,60.49,60.49,8120.0,0.11,-0.08,-0.08,0.03
2018-03-02 14:45:00,60.49,60.63,60.43,60.56,9086.0,0.20,0.07,-0.06,0.14
2018-03-02 14:50:00,60.56,60.67,60.50,60.52,7623.0,0.17,-0.04,-0.06,0.11
2018-03-02 14:55:00,60.52,60.63,60.43,60.51,5123.0,0.20,-0.01,-0.09,0.11
2018-03-02 15:00:00,60.51,60.66,60.48,60.56,6430.0,0.18,0.05,-0.03,0.15
2018-03-02 15:05:00,60.56,60.56,60.43,60.53,5931.0,0.13,-0.03,-0.13,0.00
2018-03-02 15:10:00,60.54,60.59,60.37,60.57,6768.0,0.22,0.03,-0.17,0.05
2018-03-02 15:15:00,60.56,60.67,60.45,60.63,5545.0,0.22,0.07,-0.11,0.11
2018-03-02 15:20:00,60.63,60.66,60.45,60.46,4303.0,0.21,-0.17,-0.18,0.03
2018-03-02 15:25:00,60.45,60.50,60.23,60.29,10093.0,0.27,-0.16,-0.22,0.05
2018-03-02 15:30:00,60.29,60.36,60.13,60.32,10000.0,0.23,0.03,-0.16,0.07
2018-03-02 15:35:00,60.33,60.36,60.24,60.34,5612.0,0.12,0.01,-0.09,0.03
2018-03-02 15:40:00,60.34,60.51,60.33,60.47,5507.0,0.18,0.13,-0.01,0.17
2018-03-02 15:45:00,60.47,60.55,60.43,60.49,3641.0,0.12,0.02,-0.04,0.08
2018-03-02 15:50:00,60.49,60.50,60.40,60.40,3626.0,0.10,-0.09,-0.09,0.01
2018-03-02 15:55:00,60.41,60.52,60.35,60.36,4775.0,0.17,-0.05,-0.06,0.11
2018-03-02 16:00:00,60.36,60.45,60.30,60.45,3871.0,0.15,0.09,-0.06,0.09
2018-03-02 16:05:00,60.45,60.52,60.42,60.45,3366.0,0.10,0.00,-0.03,0.07
2018-03-02 16:10:00,60.44,60.65,60.38,60.62,6846.0,0.27,0.18,-0.06,0.21
2018-03-02 16:15:00,60.61,60.76,60.60,60.66,6301.0,0.16,0.05,-0.01,0.15
2018-03-02 16:20:00,60.66,60.83,60.61,60.80,6218.0,0.22,0.14,-0.05,0.17
...,...,...,...,...,...,...,...,...,...
2018-11-12 14:15:00,60.77,60.82,60.69,60.80,6147.0,0.13,0.03,-0.08,0.05
2018-11-12 14:20:00,60.80,60.82,60.73,60.76,3199.0,0.09,-0.04,-0.07,0.02
2018-11-12 14:25:00,60.77,60.86,60.63,60.66,6743.0,0.23,-0.11,-0.14,0.09
2018-11-12 14:30:00,60.66,60.67,60.50,60.59,10535.0,0.17,-0.07,-0.16,0.01
2018-11-12 14:35:00,60.59,60.77,60.56,60.65,7372.0,0.21,0.06,-0.03,0.18
2018-11-12 14:40:00,60.65,60.70,60.54,60.56,4299.0,0.16,-0.09,-0.11,0.05
2018-11-12 14:45:00,60.56,60.67,60.45,60.64,7579.0,0.22,0.08,-0.11,0.11
2018-11-12 14:50:00,60.65,60.72,60.64,60.68,4386.0,0.08,0.03,-0.01,0.07
2018-11-12 14:55:00,60.68,60.86,60.68,60.78,6156.0,0.18,0.10,0.00,0.18
2018-11-12 15:00:00,60.77,60.88,60.74,60.78,7298.0,0.14,0.01,-0.03,0.11
2018-11-12 15:05:00,60.78,60.99,60.77,60.95,7424.0,0.22,0.17,-0.01,0.21
2018-11-12 15:10:00,60.96,61.06,60.91,61.03,5394.0,0.15,0.07,-0.05,0.10
2018-11-12 15:15:00,61.04,61.12,61.02,61.10,5477.0,0.10,0.06,-0.02,0.08
2018-11-12 15:20:00,61.10,61.12,60.87,61.01,7688.0,0.25,-0.09,-0.23,0.02
2018-11-12 15:25:00,61.00,61.21,60.96,61.02,8801.0,0.25,0.02,-0.04,0.21
2018-11-12 15:30:00,61.01,61.13,60.92,61.12,5386.0,0.21,0.11,-0.09,0.12
2018-11-12 15:35:00,61.12,61.17,60.97,60.99,4702.0,0.20,-0.13,-0.15,0.05
2018-11-12 15:40:00,60.98,61.02,60.83,60.85,5888.0,0.19,-0.13,-0.15,0.04
2018-11-12 15:45:00,60.86,61.10,60.81,61.07,5914.0,0.29,0.21,-0.05,0.24
2018-11-12 15:50:00,61.07,61.12,60.96,61.05,4581.0,0.16,-0.02,-0.11,0.05
2018-11-12 15:55:00,61.06,61.08,60.89,60.89,3355.0,0.19,-0.17,-0.17,0.02
2018-11-12 16:00:00,60.89,60.93,60.67,60.72,6226.0,0.26,-0.17,-0.22,0.04
2018-11-12 16:05:00,60.73,60.95,60.71,60.90,5334.0,0.24,0.17,-0.02,0.22
2018-11-12 16:10:00,60.90,60.96,60.71,60.74,4495.0,0.25,-0.16,-0.19,0.06
2018-11-12 16:15:00,60.73,60.82,60.63,60.80,5791.0,0.19,0.07,-0.10,0.09
2018-11-12 16:20:00,60.80,60.84,60.65,60.65,6816.0,0.19,-0.15,-0.15,0.04
2018-11-12 16:25:00,60.66,60.79,60.63,60.75,6611.0,0.16,0.09,-0.03,0.13
2018-11-12 16:30:00,60.75,60.86,60.65,60.86,4050.0,0.21,0.11,-0.10,0.11
2018-11-12 16:35:00,60.86,60.91,60.84,60.84,3864.0,0.07,-0.02,-0.02,0.05
2018-11-12 16:40:00,60.83,60.94,60.83,60.89,2595.0,0.11,0.06,0.00,0.11

### Save df_5min

In [9]:
import re
new_data_date = re.search(r'(\d+-\d+-\d+)', new_data).group(0)
df_5min.to_csv('/home/melgazar9/Trading/Data/CL/CL_TD_historical_data_DFs/CL_5min/CL_5min_historical-data_' + new_data_date + '.csv')

# Use this below code if old data is a df

In [10]:
import os
import time
import json
import pandas as pd
import numpy as np
import gc
import datetime
from pandas.io.json import json_normalize
import itertools
import pickle
import warnings
import subprocess
import sys

# os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'
warnings.filterwarnings('ignore')

######################################
#       READ THE CORRECT FILE        #
######################################

old_df = pd.read_csv('/home/melgazar9/Trading/Data/CL/CL_TD_historical_data_DFs/CL_5min/CL_5min_historical-data_2018-11-12.csv').set_index('Datetime')


new_data_path = '/home/melgazar9/Trading/Data/CL/CL_TD_historical_data/CL_1min/'
new_data_filename = 'CL_1min_historical_data_2018-11-30-09:44:PM.log'
new_data = read_data(new_data_path + new_data_filename)

verify_data_integrity(new_data)
old_df.head(2)

THERE IS A NAN VALUE
True
True
True
True
True

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-03-02 13:55:00,60.92,60.93,60.84,60.85,1950.0,0.09,-0.07,-0.08,0.01
2018-03-02 14:00:00,60.84,60.86,60.75,60.79,4258.0,0.11,-0.05,-0.09,0.02

In [11]:
new_df = get_5min_df(new_data)
new_df.head(2)

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-10-22 13:37:00,68.61,68.61,68.56,68.59,1352.0,0.05,-0.02,-0.05,0.0
2018-10-22 13:38:00,68.58,68.58,68.48,68.51,3867.0,0.10,-0.07,-0.10,0.0

In [12]:
new_df.tail(2)

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-11-30 21:59:00,50.71,50.74,50.65,50.72,92.0,0.09,0.01,-0.06,0.03
2018-11-30 23:00:00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00

In [13]:
df_5min_updated = pd.concat([old_df, new_df], axis=0)
df_5min_updated.head(2)

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-03-02 13:55:00,60.92,60.93,60.84,60.85,1950.0,0.09,-0.07,-0.08,0.01
2018-03-02 14:00:00,60.84,60.86,60.75,60.79,4258.0,0.11,-0.05,-0.09,0.02

In [14]:
df_5min_updated.tail(2)

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-11-30 21:59:00,50.71,50.74,50.65,50.72,92.0,0.09,0.01,-0.06,0.03
2018-11-30 23:00:00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00

In [15]:
df_5min_updated

,5minOpen,5minHigh,5minLow,5minClose,5minVolume,5minRange,5minMove,5minLowMove,5minHighMove
Datetime,,,,,,,,,
2018-03-02 13:55:00,60.92,60.93,60.84,60.85,1950.0,0.09,-0.07,-0.08,0.01
2018-03-02 14:00:00,60.84,60.86,60.75,60.79,4258.0,0.11,-0.05,-0.09,0.02
2018-03-02 14:05:00,60.79,61.02,60.77,60.91,6172.0,0.25,0.12,-0.02,0.23
2018-03-02 14:10:00,60.91,60.93,60.75,60.77,4235.0,0.18,-0.14,-0.16,0.02
2018-03-02 14:15:00,60.77,60.89,60.68,60.74,4368.0,0.21,-0.03,-0.09,0.12
2018-03-02 14:20:00,60.74,60.88,60.74,60.86,2812.0,0.14,0.12,0.00,0.14
2018-03-02 14:25:00,60.85,60.91,60.69,60.77,4190.0,0.22,-0.08,-0.16,0.06
2018-03-02 14:30:00,60.76,60.78,60.62,60.67,7676.0,0.16,-0.09,-0.14,0.02
2018-03-02 14:35:00,60.66,60.77,60.52,60.58,10729.0,0.25,-0.08,-0.14,0.11
2018-03-02 14:40:00,60.57,60.60,60.49,60.49,8120.0,0.11,-0.08,-0.08,0.03
2018-03-02 14:45:00,60.49,60.63,60.43,60.56,9086.0,0.20,0.07,-0.06,0.14
2018-03-02 14:50:00,60.56,60.67,60.50,60.52,7623.0,0.17,-0.04,-0.06,0.11
2018-03-02 14:55:00,60.52,60.63,60.43,60.51,5123.0,0.20,-0.01,-0.09,0.11
2018-03-02 15:00:00,60.51,60.66,60.48,60.56,6430.0,0.18,0.05,-0.03,0.15
2018-03-02 15:05:00,60.56,60.56,60.43,60.53,5931.0,0.13,-0.03,-0.13,0.00
2018-03-02 15:10:00,60.54,60.59,60.37,60.57,6768.0,0.22,0.03,-0.17,0.05
2018-03-02 15:15:00,60.56,60.67,60.45,60.63,5545.0,0.22,0.07,-0.11,0.11
2018-03-02 15:20:00,60.63,60.66,60.45,60.46,4303.0,0.21,-0.17,-0.18,0.03
2018-03-02 15:25:00,60.45,60.50,60.23,60.29,10093.0,0.27,-0.16,-0.22,0.05
2018-03-02 15:30:00,60.29,60.36,60.13,60.32,10000.0,0.23,0.03,-0.16,0.07
2018-03-02 15:35:00,60.33,60.36,60.24,60.34,5612.0,0.12,0.01,-0.09,0.03
2018-03-02 15:40:00,60.34,60.51,60.33,60.47,5507.0,0.18,0.13,-0.01,0.17
2018-03-02 15:45:00,60.47,60.55,60.43,60.49,3641.0,0.12,0.02,-0.04,0.08
2018-03-02 15:50:00,60.49,60.50,60.40,60.40,3626.0,0.10,-0.09,-0.09,0.01
2018-03-02 15:55:00,60.41,60.52,60.35,60.36,4775.0,0.17,-0.05,-0.06,0.11
2018-03-02 16:00:00,60.36,60.45,60.30,60.45,3871.0,0.15,0.09,-0.06,0.09
2018-03-02 16:05:00,60.45,60.52,60.42,60.45,3366.0,0.10,0.00,-0.03,0.07
2018-03-02 16:10:00,60.44,60.65,60.38,60.62,6846.0,0.27,0.18,-0.06,0.21
2018-03-02 16:15:00,60.61,60.76,60.60,60.66,6301.0,0.16,0.05,-0.01,0.15
2018-03-02 16:20:00,60.66,60.83,60.61,60.80,6218.0,0.22,0.14,-0.05,0.17
...,...,...,...,...,...,...,...,...,...
2018-11-30 21:31:00,50.74,50.74,50.72,50.73,17.0,0.02,-0.01,-0.02,0.00
2018-11-30 21:32:00,50.72,50.74,50.72,50.72,26.0,0.02,0.00,0.00,0.02
2018-11-30 21:33:00,50.72,50.73,50.72,50.72,8.0,0.01,0.00,0.00,0.01
2018-11-30 21:34:00,50.72,50.76,50.72,50.74,35.0,0.04,0.02,0.00,0.04
2018-11-30 21:35:00,50.73,50.75,50.73,50.75,28.0,0.02,0.02,0.00,0.02
2018-11-30 21:36:00,50.75,50.75,50.73,50.73,49.0,0.02,-0.02,-0.02,0.00
2018-11-30 21:37:00,50.73,50.75,50.63,50.63,202.0,0.12,-0.10,-0.10,0.02
2018-11-30 21:38:00,50.64,50.65,50.58,50.60,170.0,0.07,-0.04,-0.06,0.01
2018-11-30 21:39:00,50.59,50.62,50.59,50.60,38.0,0.03,0.01,0.00,0.03
2018-11-30 21:40:00,50.61,50.61,50.59,50.61,39.0,0.02,0.00,-0.02,0.00
2018-11-30 21:41:00,50.61,50.61,50.59,50.60,18.0,0.02,-0.01,-0.02,0.00
2018-11-30 21:42:00,50.59,50.60,50.58,50.58,16.0,0.02,-0.01,-0.01,0.01
2018-11-30 21:43:00,50.58,50.60,50.57,50.59,45.0,0.03,0.01,-0.01,0.02
2018-11-30 21:44:00,50.58,50.64,50.57,50.63,254.0,0.07,0.05,-0.01,0.06
2018-11-30 21:45:00,50.63,50.64,50.58,50.63,274.0,0.06,0.00,-0.05,0.01
2018-11-30 21:46:00,50.63,50.66,50.63,50.65,91.0,0.03,0.02,0.00,0.03
2018-11-30 21:47:00,50.65,50.67,50.65,50.66,34.0,0.02,0.01,0.00,0.02
2018-11-30 21:48:00,50.66,50.67,50.64,50.64,62.0,0.03,-0.02,-0.02,0.01
2018-11-30 21:49:00,50.64,50.65,50.62,50.63,95.0,0.03,-0.01,-0.02,0.01
2018-11-30 21:50:00,50.64,50.64,50.61,50.61,158.0,0.03,-0.03,-0.03,0.00
2018-11-30 21:51:00,50.60,50.63,50.60,50.63,67.0,0.03,0.03,0.00,0.03
2018-11-30 21:52:00,50.62,50.63,50.60,50.62,20.0,0.03,0.00,-0.02,0.01
2018-11-30 21:53:00,50.61,50.62,50.59,50.62,49.0,0.03,0.01,-0.02,0.01
2018-11-30 21:54:00,50.62,50.62,50.60,50.60,111.0,0.02,-0.02,-0.02,0.00
2018-11-30 21:55:00,50.60,50.73,50.60,50.70,346.0,0.13,0.10,0.00,0.13
2018-11-30 21:56:00,50.71,50.73,50.70,50.72,45.0,0.03,0.01,-0.01,0.02
2018-11-30 21:57:00,50.73,50.73,50.66,50.70,85.0,0.07,-0.03,-0.07,0.00
2018-11-30 21:58:00,50.71,50.72,50.67,50.71,98.0,0.05,0.00,-0.04,0.01
2018-11-30 21:59:00,50.71,50.74,50.65,50.72,92.0,0.09,0.01,-0.06,0.03
2018-11-30 23:00:00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00

In [16]:
df_5min_updated.index = pd.to_datetime(df_5min_updated.index)
df_5min_updated.sort_index(inplace=True)

In [17]:
import re
new_data_date = re.search(r'(\d+-\d+-\d+)', new_data_filename).group(0)
new_data_date

'2018-11-30'

In [18]:
df_5min_updated.to_csv('/home/melgazar9/Trading/Data/CL/CL_TD_historical_data_DFs/CL_5min/CL_5min_historical-data_' + new_data_date + '.csv')